:root {
  --main-text: rgb(26, 26, 26);
  --background-color: rgb(25, 43, 69);
  --container-color: rgb(255, 255, 255);
  --icon-color: rgb(105, 105, 105);
  --search-icon-text-color: rgb(105, 105, 105);
  --icon-hover: rgb(245, 222, 179);
  --btn-background-color: rgb(205, 225, 253);
  --btn-hover: rgb(33, 55, 88);
}

* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  letter-spacing: 0.5px;
}

body {
  display: flex;
  height: 100vh;
  background-color: var(--background-color);
  align-items: center;
  justify-content: center;
}

.container {
  display: relative;
  width: 410px;
  height: min-content;
  padding: 25px;
  background-color: var(--container-color);
  border-radius: 15px;
  overflow: hidden;
  transition: 250ms ease-in-out;
}

.search-container {
  display: flex;
  width: 100%;
  height: min-content;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.location-form {
  width: 80%;
  margin: 0px 6px 0px 0px;
}

.location-input {
  color: var(--search-icon-text-color);
  background-color: rgb(245, 245, 245);
  width: 100%;
  height: 45px;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 4px;
  text-align: center;
  border-radius: 30px;
  outline-color: var(--btn-background-color);
}

.location-input::placeholder {
  text-align: center;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}

.location-input:focus {
  outline: none;
  transition: 250ms ease;
  box-shadow: 0 6px 1px rgba(101, 101, 101, 0.07),
    0 0px 10px rgba(21, 21, 21, 0.2);
}

.search-btn {
  color: var(--search-icon-text-color);
  background-color: var(--btn-background-color);
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  transition: 0.5s ease;
}

.search-icon {
  font-size: 25px;
  font-weight: 700;
}

.location-icon {
  color: var(--search-icon-text-color);
  font-size: 38px;
  font-weight: 500;
}

.search-btn:hover {
  background-color: var(--btn-hover);
  color: var(--icon-hover);
}

/* DISPLAY STYLE */
.display-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.img-404 {
  width: 80%;
  height: auto;
  margin-bottom: 60px;
}

.invalid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.invalid-message {
  font-size: 18px;
  font-weight: 500;
  color: var(--search-icon-text-color);
}

.weather-imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.temp-img {
  width: 65%;
  height: auto;
  margin-bottom: 40px;
}

.temp {
  display: flex;
  flex-basis: 100%;
  font-size: 50px;
  font-weight: 700;
  color: var(--main-text);
  justify-content: center;
}

.temp-description {
  display: flex;
  flex-basis: 100%;
  font-size: 20px;
  font-weight: 500;
  color: var(--main-text);
  justify-content: center;
}

/* DETAIL STYLE */
.detail-container {
  padding: 0px 15px 0px 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.water-icon,
.wind-icon {
  display: flex;
  color: var(--main-text);
  font-size: 35px;
  font-weight: 700;
  align-items: center;
  margin-right: 12px;
}

.humidity-detail,
.wind-detail {
  display: flex;
}

.humidity-container,
.wind-container {
  color: var(--main-text);
  font-weight: 500;
}

.humidity-percent,
.wind-speed {
  margin-bottom: 3px;
}

/* HIDDEN */
.hidden {
  display: none;
}
