* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  display: flex;
  height: 100vh;
  background-color: rgb(25, 43, 69);
  align-items: center;
  justify-content: center;
}

.container {
  display: relative;
  width: 410px;
  height: 605px;
  padding: 25px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.6s ease;
}

.search-container {
  display: flex;
  width: 100%;
  height: min-content;
  align-items: center;
  justify-content: space-between;
}

.location-form {
  width: 80%;
  margin: 0px 6px 0px 0px;
}

.location-input {
  color: rgb(105, 105, 105);
  width: 100%;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 4px;
  text-align: center;
}

.location-input::placeholder {
  text-align: center;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}

.search-btn {
  color: rgb(105, 105, 105);
  background-color: rgb(205, 225, 253);
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  transition: 0.5s ease;
}

.location-icon {
  color: rgb(105, 105, 105);
  font-size: 40px;
  font-weight: 500;
}

.search-icon {
  font-size: 25px;
  font-weight: 700;
}

.search-btn:hover {
  background-color: rgb(122, 177, 255);
}
